/* Amazing tutorial about flex
https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.lateralBar {
    width: 50px;
    height: 100%;
    background-color: #252930;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.page {
    margin-left: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.right {
    height: 100%;
    width: 75%;
}
  
.left {
    height: 100%;
    width: 25%;
}

.right_index {
    height: 100%;
    width: 75%;
}
  
.left_index {
    height: 100%;
    width: 25%;
}

.banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style buttons */
.btn {
    background-color: #484f5d; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    width: 100%;
    padding: 12px 16px; /* Some padding */
    font-size: 15px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Background on mouse-over */
.btn:hover {
    background-color:#817e7d;
}

.card {
    font-family: 'Helvetica Neue';
    line-height: 1.5;
    color: #BBC1CB;
    border-radius: 12px;
    background: #484F5D;
    padding: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card_title{
    font-size: 22px;
    width: 80%;
    padding: 8px 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.icon_title{
    width: 10%;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text_title {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.graph {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Helvetica Neue';
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#motorLabel {
    display: none;
}

#date-picker-container{
    border: 1px solid red;
    width: 80%;
    padding: 8px 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

[data-period] {
    border: 1px solid red;
    margin: 2px;
    padding: 5px 5px;
    background-color: #2196F3;
    color: #FFF;
    min-width: 50px;
}

[data-period]:hover {
    cursor: pointer;
    opacity: .7;
}

#date-picker-container div {
    display: inline-flex;
}

#date-from,
#date-to {
  margin-right: 6px;
  margin-left: 6px;
  color: #2196F3;
}

.active {
    background: #fd992b;
}


#day {
    color: #2196F3;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 13px;
    float: right;
}

@media screen and (max-width:1412px){
    .right {
        width: 70%;
    }
      
    .left {
        width: 30%;
    }
}
@media screen and (max-width:1190px){
    .right {
        width: 65%;
    }
      
    .left {
        width: 35%;
    }
}
@media screen and (max-width:1022px){
    .right {
        width: 60%;
    }
      
    .left {
        width: 40%;
    }
}
@media screen and (max-width:905px){
    .right {
        width: 55%;
    }
      
    .left {
        width: 45%;
    }
}
@media screen and (max-width:810px){
    .right {
        width: 100%;
    }
      
    .left {
        width: 100%;
    }
    .page {
        margin-left: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:1412px){
    .right_index {
        width: 70%;
    }
      
    .left_index {
        width: 30%;
    }
}
@media screen and (max-width:1190px){
    .right_index {
        width: 65%;
    }
      
    .left_index {
        width: 35%;
    }
}
@media screen and (max-width:1022px){
    .right_index {
        width: 60%;
    }
      
    .left_index {
        width: 40%;
    }
}
@media screen and (max-width:905px){
    .right_index {
        width: 55%;
    }
      
    .left_index {
        width: 45%;
    }
}
@media screen and (max-width:810px){
    .right_index {
        display: none;
    }
      
    .left_index {
        width: 100%;
    }
}